body {
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }
  body .content {
    display: grid;
    grid-template-columns: 1; }
    body .content header {
      grid-row-start: 1;
      grid-row-end: 2;
      background-color: #584b3b;
      width: 100%;
      height: 71px; }
      body .content header a h1 {
        display: block;
        position: relative;
        float: left;
        margin-left: 100px;
        font-size: 28px;
        color: #f5f5f5;
        font-weight: bold;
        margin-bottom: 0;
        top: 2px;
        text-transform: uppercase; }
      body .content header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-right: 30px; }
        @media only screen and (max-width: 850px) {
          body .content header nav ul {
            display: none; } }
        body .content header nav ul li {
          float: right; }
          body .content header nav ul li a {
            display: block;
            text-align: center;
            padding: 9px;
            text-decoration: none;
            text-transform: uppercase;
            color: #afa9a3;
            margin-top: 20px;
            font-size: 14px; }
          body .content header nav ul li a:hover {
            color: #f7f3ec; }
      body .content header nav .dropdown {
        background-color: #584b3b;
        margin-top: 72px; }
        body .content header nav .dropdown a {
          display: none; }
          body .content header nav .dropdown a .fa-bars {
            display: block;
            position: absolute;
            right: 1em;
            top: 14px;
            font-size: 42px;
            color: #ece2d1; }
          @media only screen and (max-width: 850px) {
            body .content header nav .dropdown a {
              display: block; } }
        body .content header nav .dropdown .dropdown-content {
          display: none;
          flex-direction: column;
          background-color: #584b3b; }
          body .content header nav .dropdown .dropdown-content a {
            color: #ece2d1;
            text-decoration: none;
            background-color: #584b3b;
            position: relative;
            padding: 12px;
            border-bottom: 1px solid #ece2d1;
            text-align: center; }
        body .content header nav .dropdown .show {
          display: flex; }
    body .content .gallerySlide {
      grid-row-start: 2;
      grid-row-end: 3;
      background-color: #f7f3ec;
      height: 877px; }
      @media only screen and (max-width: 1200px) {
        body .content .gallerySlide {
          height: 1150px; } }
      body .content .gallerySlide h1 {
        color: #706e6a;
        font-size: 26px;
        margin-left: 100px;
        margin-top: 70px;
        margin-bottom: 70px;
        text-transform: uppercase; }
        body .content .gallerySlide h1 strong {
          font-weight: 800; }
      body .content .gallerySlide .btn-block {
        z-index: 999;
        position: relative;
        top: 60px;
        left: 110px;
        width: 80%; }
        body .content .gallerySlide .btn-block .btn-Prev,
        body .content .gallerySlide .btn-block .btn-Next {
          position: relative;
          background-color: white;
          color: #706e6a;
          font-size: 20px;
          border: 1px solid white;
          border-radius: 5px;
          padding: 8px 14px;
          margin-left: 2px;
          letter-spacing: 0; }
      body .content .gallerySlide .brown-field {
        display: grid;
        grid-template-columns: 1fr 7fr;
        height: 585px; }
        @media only screen and (max-width: 1200px) {
          body .content .gallerySlide .brown-field {
            display: block; } }
        body .content .gallerySlide .brown-field .slideshow-container {
          display: flex;
          background-color: #544838;
          grid-column-start: 2;
          grid-column-end: 3;
          width: 100%;
          position: relative;
          margin: auto; }
          body .content .gallerySlide .brown-field .slideshow-container .mySlides {
            display: flex; }
            @media only screen and (max-width: 1200px) {
              body .content .gallerySlide .brown-field .slideshow-container .mySlides {
                flex-direction: column; } }
            body .content .gallerySlide .brown-field .slideshow-container .mySlides img {
              vertical-align: middle;
              position: relative;
              bottom: -85px;
              right: -97px;
              box-shadow: 15px 11px 75px 3px #0000008f; }
              @media only screen and (max-width: 1200px) {
                body .content .gallerySlide .brown-field .slideshow-container .mySlides img {
                  right: 0;
                  bottom: 0;
                  padding-top: 20px;
                  margin: auto;
                  display: block; } }
            body .content .gallerySlide .brown-field .slideshow-container .mySlides .text {
              color: #f2f2f2;
              font-size: 15px;
              padding: 8px 12px;
              bottom: 8px;
              flex: 1; }
              body .content .gallerySlide .brown-field .slideshow-container .mySlides .text article {
                color: #d0cbc3;
                padding: 50px;
                padding-right: 20px;
                padding-left: 171px; }
                @media only screen and (max-width: 1200px) {
                  body .content .gallerySlide .brown-field .slideshow-container .mySlides .text article {
                    padding: 40px; } }
                body .content .gallerySlide .brown-field .slideshow-container .mySlides .text article h1 {
                  color: #d0cbc3;
                  margin-left: 0;
                  font-size: 26px;
                  margin-bottom: 30px; }
                body .content .gallerySlide .brown-field .slideshow-container .mySlides .text article p {
                  font-size: 15px; }
                body .content .gallerySlide .brown-field .slideshow-container .mySlides .text article button {
                  background-color: transparent;
                  color: #b7b0a5;
                  padding: 15px 20px;
                  font-size: 13px;
                  text-transform: uppercase;
                  border: 1px solid #b7b0a5;
                  border-radius: 5px; }
                  body .content .gallerySlide .brown-field .slideshow-container .mySlides .text article button .fa-music:before {
                    padding-right: 22px; }
                body .content .gallerySlide .brown-field .slideshow-container .mySlides .text article button:focus {
                  outline-color: #584b3b; }
        body .content .gallerySlide .brown-field .priv-box {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #f7f3ec;
          grid-column-start: 1;
          grid-column-end: 2; }
          @media only screen and (max-width: 1200px) {
            body .content .gallerySlide .brown-field .priv-box {
              grid-row-start: 1;
              grid-row-end: 2; } }
          body .content .gallerySlide .brown-field .priv-box p {
            white-space: nowrap;
            margin: 0;
            color: #706e6a;
            letter-spacing: 4px;
            font-size: 12px;
            -moz-transform: rotate(-90deg);
            /* FF3.5+ */
            -o-transform: rotate(-90deg);
            /* Opera 10.5 */
            -webkit-transform: rotate(-90deg);
            /* Saf3.1+, Chrome */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);
            /* IE6,IE7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
            /* IE8 */ }
            @media only screen and (max-width: 1200px) {
              body .content .gallerySlide .brown-field .priv-box p {
                -webkit-transform: none;
                padding-bottom: 20px; } }
            body .content .gallerySlide .brown-field .priv-box p .numbertext {
              display: inline; }
    body .content .navPosition {
      grid-row-start: 3;
      grid-row-end: 4;
      background-color: #ece2d1;
      height: 870px; }
      @media only screen and (max-width: 1200px) {
        body .content .navPosition {
          height: 1300px; } }
      body .content .navPosition h1 {
        color: #706e6a;
        font-size: 26px;
        margin-left: 100px;
        margin-top: 70px;
        margin-bottom: 70px;
        text-transform: uppercase; }
        body .content .navPosition h1 strong {
          font-weight: 800; }
      body .content .navPosition .map-field {
        width: 80vw;
        display: flex;
        margin: auto; }
        @media only screen and (max-width: 850px) {
          body .content .navPosition .map-field {
            flex-direction: column;
            align-items: center; } }
        body .content .navPosition .map-field .mini-menu {
          width: 448px;
          height: 610px;
          background-color: #f7f3ec; }
          @media only screen and (max-width: 850px) {
            body .content .navPosition .map-field .mini-menu {
              flex-direction: column; } }
          body .content .navPosition .map-field .mini-menu .mini-items {
            background-color: #584b3b; }
            body .content .navPosition .map-field .mini-menu .mini-items ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden; }
              body .content .navPosition .map-field .mini-menu .mini-items ul li {
                float: left;
                width: 64px;
                height: 60px; }
                body .content .navPosition .map-field .mini-menu .mini-items ul li:hover {
                  background: rgba(246, 246, 246, 0.3); }
                  body .content .navPosition .map-field .mini-menu .mini-items ul li:hover > .tear {
                    opacity: 1;
                    width: 80px;
                    height: 80px; }
                body .content .navPosition .map-field .mini-menu .mini-items ul li .tear {
                  opacity: 0;
                  width: 0;
                  height: 0;
                  position: absolute;
                  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
                  transform: rotate(135deg);
                  display: block;
                  background-color: #4a96dc;
                  transition: all .3s ease;
                  margin-top: -87px;
                  margin-left: -9px; }
                  body .content .navPosition .map-field .mini-menu .mini-items ul li .tear > p {
                    color: white;
                    font-size: 12px;
                    transform: rotate(225deg);
                    text-align: center;
                    padding: 13px; }
                body .content .navPosition .map-field .mini-menu .mini-items ul li span {
                  display: block;
                  text-align: center;
                  text-decoration: none;
                  text-transform: uppercase;
                  color: #afa9a3;
                  margin-top: 20px;
                  font-size: 14px;
                  cursor: pointer;
                  border-right: .5px solid #706e6a; }
              body .content .navPosition .map-field .mini-menu .mini-items ul li:nth-child(1) {
                background-color: #9eb46a; }
        body .content .navPosition .map-field .menu-list {
          padding: 10px;
          width: 448px; }
          body .content .navPosition .map-field .menu-list .x {
            display: none; }
          body .content .navPosition .map-field .menu-list .shop-list {
            display: block; }
          body .content .navPosition .map-field .menu-list div {
            text-transform: capitalize; }
            body .content .navPosition .map-field .menu-list div table {
              width: 79%;
              height: 100%;
              margin: 35px;
              border-collapse: collapse; }
              body .content .navPosition .map-field .menu-list div table tr {
                list-style: none;
                border-bottom: 1px solid #ece2d1; }
                body .content .navPosition .map-field .menu-list div table tr th {
                  font-size: 18px;
                  text-transform: uppercase;
                  color: #706e6a;
                  padding-bottom: 23px;
                  font-weight: 800;
                  text-align: left;
                  padding-top: 15px;
                  letter-spacing: 0;
                  border-bottom: none; }
                body .content .navPosition .map-field .menu-list div table tr td {
                  color: #706e6a;
                  padding-top: 15px;
                  padding-bottom: 15px;
                  font-size: 15px;
                  letter-spacing: 0; }
                body .content .navPosition .map-field .menu-list div table tr td:nth-child(1) {
                  float: left; }
                body .content .navPosition .map-field .menu-list div table tr td:nth-child(2) {
                  float: right;
                  font-weight: 600; }
              body .content .navPosition .map-field .menu-list div table tr:nth-child(1) {
                border: none; }
              body .content .navPosition .map-field .menu-list div table tr:last-child {
                border: none; }
      body .content .navPosition #map {
        flex: 1; }
        @media only screen and (max-width: 850px) {
          body .content .navPosition #map {
            height: 500px;
            width: 448px; } }
        body .content .navPosition #map iframe {
          width: 100%;
          height: 100%;
          border: none; }
    body .content .slider img {
      width: 100%; }

.form {
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: #f7f3ec;
  height: 873px;
  display: grid;
  grid-template-columns: 7fr 1fr; }
  @media only screen and (max-width: 1200px) {
    .form {
      background-color: #ece2d1;
      height: 1213px; } }
  @media only screen and (max-width: 700px) {
    .form {
      height: 1500px; } }
  .form .form-container {
    background-color: #ece2d1;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 625px;
    margin-top: 90px; }
    @media only screen and (max-width: 1200px) {
      .form .form-container {
        display: block; } }
    .form .form-container form {
      width: 500px;
      height: 600px;
      vertical-align: middle;
      position: relative;
      bottom: -74px;
      right: 80px;
      box-shadow: 15px 11px 75px 3px #0000008f;
      background-color: #584b3b; }
      @media only screen and (max-width: 1200px) {
        .form .form-container form {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 56%;
          height: 470px;
          position: static; } }
      @media only screen and (max-width: 700px) {
        .form .form-container form {
          width: 100vw; } }
      .form .form-container form h3 {
        color: #ece2d1;
        text-align: center;
        padding-top: 52px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-size: 18px; }
        .form .form-container form h3 strong {
          font-weight: 900; }
      .form .form-container form input[type=text],
      .form .form-container form input[type=email],
      .form .form-container form input[type=text] {
        font-size: 18px;
        color: #ece2d1;
        background: #584b3b;
        border: none;
        border-bottom: 1px solid #ece2d1;
        margin-left: 60px;
        margin-right: 60px;
        display: block;
        width: 67%;
        padding-bottom: 10px;
        padding-top: 26px; }
      .form .form-container form input[type=submit] {
        color: #ece2d1;
        background: #879f55;
        border: none;
        margin-left: 60px;
        margin-right: 60px;
        display: block;
        width: 105px;
        height: 40px;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 14px;
        float: left;
        margin-left: 83px;
        margin-top: 50px; }
      .form .form-container form input:focus {
        outline-color: #584b3b; }
      .form .form-container form .red-alert {
        color: red;
        font-weight: 600;
        background-color: white;
        position: relative;
        margin-top: 164px;
        text-align: center; }
      .form .form-container form .green-alert {
        color: #ece2d1;
        font-weight: 600;
        margin-top: 164px;
        text-align: center;
        position: relative; }
    .form .form-container .contacts {
      font-size: 15px;
      padding: 8px 12px;
      bottom: 8px;
      flex: 1;
      min-width: 600px; }
      .form .form-container .contacts h1 {
        color: #706e6a;
        font-size: 26px;
        margin-left: 100px;
        margin-top: 110px;
        margin-bottom: 70px;
        text-transform: uppercase;
        font-weight: 800; }
      .form .form-container .contacts .contacts-field {
        display: flex;
        margin: 10px;
        margin-left: 100px; }
        @media only screen and (max-width: 700px) {
          .form .form-container .contacts .contacts-field {
            flex-direction: column;
            align-items: center;
            margin: 0; } }
        .form .form-container .contacts .contacts-field .first-contact {
          flex: 1; }
          .form .form-container .contacts .contacts-field .first-contact img {
            object-fit: cover;
            object-position: 50% 0%; }
          .form .form-container .contacts .contacts-field .first-contact > img {
            box-shadow: 7px 5px 20px 1px #0000004f; }
          .form .form-container .contacts .contacts-field .first-contact p:nth-of-type(1) {
            color: black;
            font-weight: 600; }
          .form .form-container .contacts .contacts-field .first-contact p {
            color: #706e6a; }
            .form .form-container .contacts .contacts-field .first-contact p img {
              width: 15px;
              margin-right: 9px;
              bottom: -2px;
              position: relative; }
        .form .form-container .contacts .contacts-field .second-contact {
          flex: 1; }
          .form .form-container .contacts .contacts-field .second-contact img {
            object-fit: cover;
            object-position: 50% 0%; }
          .form .form-container .contacts .contacts-field .second-contact > img {
            box-shadow: 7px 5px 20px 1px #0000004f; }
          .form .form-container .contacts .contacts-field .second-contact p {
            color: #706e6a; }
            .form .form-container .contacts .contacts-field .second-contact p img {
              width: 15px;
              margin-right: 9px;
              bottom: -2px;
              position: relative; }
          .form .form-container .contacts .contacts-field .second-contact p:nth-of-type(1) {
            color: black;
            font-weight: 600; }
  .form .susisiekite {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f3ec;
    grid-column-start: 2;
    grid-column-end: 3; }
    @media only screen and (max-width: 1200px) {
      .form .susisiekite {
        display: none; } }
    .form .susisiekite p {
      white-space: nowrap;
      margin: 0;
      color: #706e6a;
      letter-spacing: 4px;
      font-size: 12px;
      -moz-transform: rotate(-90deg);
      /* FF3.5+ */
      -o-transform: rotate(-90deg);
      /* Opera 10.5 */
      -webkit-transform: rotate(-90deg);
      /* Saf3.1+, Chrome */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);
      /* IE6,IE7 */
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
      /* IE8 */ }
      @media only screen and (max-width: 1200px) {
        .form .susisiekite p {
          display: none; } }
      .form .susisiekite p .numbertext {
        display: inline; }

footer {
  background-color: #302d28;
  color: #706e6a;
  height: 90px;
  position: relative; }
  footer p {
    position: relative;
    top: 37%;
    float: right;
    transform: translate(0, -50%);
    padding-right: 12px; }
  footer p:first-child {
    padding-right: 100px;
    padding-left: 15px;
    border-left: 1px solid #706e6a; }
    footer p:first-child strong {
      color: #ece2d1;
      font-weight: 400; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
