$brown: #584b3b;
$fontColor: #706e6a;
body {
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    .content {
        display: grid;
        grid-template-columns: 1;
        header {
            grid-row-start: 1;
            grid-row-end: 2;
            background-color: $brown;
            width: 100%;
            height: 71px;
            a {
                h1 {
                    display: block;
                    position: relative;
                    float: left;
                    margin-left: 100px;
                    font-size: 28px;
                    color: #f5f5f5;
                    font-weight: bold;
                    margin-bottom: 0;
                    top: 2px;
                    text-transform: uppercase;
                }
            }
            nav {
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    margin-right: 30px;
                    li {
                        float: right;
                        a {
                            display: block;
                            text-align: center;
                            padding: 9px;
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #afa9a3;
                            margin-top: 20px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .gallerySlide {
            grid-row-start: 2;
            grid-row-end: 3;
            background-color: #f7f3ec;
            height: 877px;
            h1 {
                color: #706e6a;
                font-size: 26px;
                margin-left: 100px;
                margin-top: 70px;
                margin-bottom: 70px;
                text-transform: uppercase;
                strong {
                    font-weight: 800;
                }
            }
            .btn-block {
                z-index: 999;
                position: relative;
                top: 60px;
                left: 45px;
                width: 80%;
                .btn-Prev,
                .btn-Next {
                    position: relative;
                    background-color: white;
                    color: #706e6a;
                    font-size: 20px;
                    border: 1px solid white;
                    border-radius: 5px;
                    padding: 8px 14px;
                    margin-left: 2px;
                    letter-spacing: 0;
                }
            }
            .brown-field {
                display: grid;
                grid-template-columns: 1fr 7fr;
                height: 585px;
                .slideshow-container {
                    display: flex;
                    background-color: #544838;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    width: 100%;
                    position: relative;
                    margin: auto;
                    .mySlides {
                        display: flex;
                        img {
                            vertical-align: middle;
                            position: relative;
                            bottom: -85px;
                            right: -97px;
                            box-shadow: 15px 11px 75px 3px #0000008f;
                        }
                        .text {
                            color: #f2f2f2;
                            font-size: 15px;
                            padding: 8px 12px;
                            bottom: 8px;
                            flex: 1;
                            article {
                                color: #d0cbc3;
                                padding: 50px;
                                padding-right: 20px;
                                padding-left: 171px;
                                h1 {
                                    color: #d0cbc3;
                                    margin-left: 0;
                                    font-size: 26px;
                                    margin-bottom: 30px;
                                }
                                p {
                                    font-size: 15px;
                                }
                                button {
                                    background-color: transparent;
                                    color: #b7b0a5;
                                    padding: 15px 20px;
                                    font-size: 13px;
                                    text-transform: uppercase;
                                    border: 1px solid #b7b0a5;
                                    border-radius: 5px;
                                    .fa-music:before {
                                        padding-right: 22px;
                                    }
                                }
                            }
                        }
                    }
                }
                .priv-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f7f3ec;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    p {
                        white-space: nowrap;
                        margin: 0;
                        color: #706e6a;
                        letter-spacing: 4px;
                        font-size: 12px;
                        -moz-transform: rotate(-90.0deg);
                        /* FF3.5+ */
                        -o-transform: rotate(-90.0deg);
                        /* Opera 10.5 */
                        -webkit-transform: rotate(-90.0deg);
                        /* Saf3.1+, Chrome */
                        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);
                        /* IE6,IE7 */
                        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
                        /* IE8 */
                        .numbertext {
                            display: inline;
                        }
                    }
                }
            }
        }
        .navPosition {
            grid-row-start: 3;
            grid-row-end: 4;
            background-color: #ece2d1;
            height: 870px;
            h1 {
                color: #706e6a;
                font-size: 26px;
                margin-left: 100px;
                margin-top: 70px;
                margin-bottom: 70px;
                text-transform: uppercase;
                strong {
                    font-weight: 800;
                }
            }
            .map-field {
                width: 80vw;
                display: flex;
                margin: auto;
                background-color: #f7f3ec;
                .mini-menu {
                    width: 448px;
                    height: 610px;
                    .mini-items {
                        background-color: $brown;
                        ul {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            overflow: hidden;
                            li {
                                float: left;
                                width: 64px;
                                height: 60px;
                                span {
                                    display: block;
                                    text-align: center; // padding: 9px;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    color: #afa9a3;
                                    margin-top: 20px;
                                    font-size: 14px;
                                    cursor: pointer;
                                    border-right: .5px solid #706e6a;
                                }
                            }
                            li:nth-child(1) {
                                background-color: #9eb46a;
                            }
                        }
                    }
                }
                .menu-list {
                    padding: 10px;
                    width: 448px;
                    .x {
                        display: none;
                    }
                    .shop-list {
                        display: block;
                    }
                    div {
                        text-transform: capitalize;
                        table {
                            width: 79%;
                            height: 100%;
                            margin: 35px;
                            border-collapse: collapse;
                            tr {
                                list-style: none;
                                border-bottom: 1px solid #ece2d1;
                                th {
                                    font-size: 18px;
                                    text-transform: uppercase;
                                    color: $fontColor;
                                    padding-bottom: 23px;
                                    font-weight: 800;
                                    text-align: left;
                                    padding-top: 15px;
                                    letter-spacing: 0;
                                    border-bottom: none;
                                }
                                td {
                                    color: $fontColor;
                                    padding-top: 15px;
                                    padding-bottom: 15px;
                                    font-size: 15px;
                                    letter-spacing: 0;
                                }
                                td:nth-child(1) {
                                    float: left;
                                }
                                td:nth-child(2) {
                                    float: right;
                                    font-weight: 600;
                                }
                            }
                            tr:nth-child(1) {
                                border: none;
                            }
                            tr:last-child {
                                border: none;
                            }
                        }
                    }
                }
            }
            #map {
                flex: 1;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .slider {
            img {
                width: 100%;
            }
        }
        .form {
            grid-row-start: 5;
            grid-row-end: 6;
            background-color: #f7f3ec;
            height: 873px
        }
    }
}

.form {
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #f7f3ec;
    height: 873px;
    display: grid;
    grid-template-columns: 7fr 1fr;
    height: 625px;
    .form-container {
        background-color: #ece2d1;
        display: flex;
        grid-column-start: 1;
        grid-column-end: 2;
        height: 625px;
        margin-top: 90px;
        form {
            width: 500px;
            height: 600px;
            vertical-align: middle;
            position: relative;
            bottom: -74px;
            right: 80px;
            box-shadow: 15px 11px 75px 3px #0000008f;
            background-color: #584b3b;
            h3 {
                color: #ece2d1;
                text-align: center;
                padding-top: 52px;
                padding-bottom: 15px;
                text-transform: uppercase;
                font-size: 18px;
                strong {
                    font-weight: 900;
                }
            }
            input[type=text],
            input[type=email],
            input[type=text] {
                font-size: 18px;
                color: #ece2d1;
                background: #584b3b;
                border: none;
                border-bottom: 1px solid #ece2d1;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 67%;
                padding-bottom: 10px;
                padding-top: 26px;
            }
            input[type=submit] {
                color: #ece2d1;
                background: #879f55;
                border: none;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 105px;
                height: 40px;
                text-transform: uppercase;
                border-radius: 5px;
                font-size: 14px;
                float: left;
                margin-left: 83px;
                margin-top: 50px;
            }
        }
        .contacts {
            font-size: 15px;
            padding: 8px 12px;
            bottom: 8px;
            flex: 1;
            h2 {
                color: #706e6a;
                font-size: 26px;
                margin-left: 100px;
                margin-top: 110px;
                margin-bottom: 70px;
                text-transform: uppercase;
                font-weight: 800;
            }
            .contacts-field {
                display: flex;
                margin: 10px;
                margin-left: 100px;
                .first-contact {
                    flex: 1;
                    img {
                        object-fit: cover;
                        object-position: 50% 0%;
                    }
                    p:nth-of-type(1) {
                        color: black;
                        font-weight: 600;
                    }
                    p {
                        color: #706e6a;
                        img {
                            width: 15px;
                            margin-right: 9px;
                            bottom: -2px;
                            position: relative;
                        }
                    }
                }
                .second-contact {
                    flex: 1;
                    img {
                        object-fit: cover;
                        object-position: 50% 0%;
                    }
                    p {
                        color: #706e6a;
                        img {
                            width: 15px;
                            margin-right: 9px;
                            bottom: -2px;
                            position: relative;
                        }
                    }
                    p:nth-of-type(1) {
                        color: black;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .susisiekite {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f7f3ec;
        grid-column-start: 2;
        grid-column-end: 3;
        p {
            white-space: nowrap;
            margin: 0;
            color: #706e6a;
            letter-spacing: 4px;
            font-size: 12px;
            -moz-transform: rotate(-90.0deg);
            /* FF3.5+ */
            -o-transform: rotate(-90.0deg);
            /* Opera 10.5 */
            -webkit-transform: rotate(-90.0deg);
            /* Saf3.1+, Chrome */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);
            /* IE6,IE7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
            /* IE8 */
            .numbertext {
                display: inline;
            }
        }
    }
}

footer {
    background-color: #302d28;
    color: #706e6a;
    height: 90px;
    position: relative; 
    p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%)
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}